<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="css/normalize.css" type="text/css" />
	<link rel="stylesheet" href="font/stylesheet.css" type="text/css" />
	<link rel="stylesheet" href="css/style.css" type="text/css" />
</head>
<body class="main-bg">
	<section class="promo">
	<strong class="promo-title">super shop</strong>
		<div  class="container">
			<header class="promo-home">
				<div class="promo_logo to-left">
					<div class="logo_item">super<span> shop</span>
					</div>
				</div>
				<nav class= "categoriya to-right">
					<ul class="categoriya-ul">
						<li class="categoriya-item">категория 1</li>
						<li class="categoriya-item">категория 2</li>
						<li class="categoriya-item">категория 3</li>
						<li class="categoriya-item">категория 4</li>
						<li class="registration to-right"><a class="" href="#">Регистрация</a></li>
						<li class="in-cabinet to-right"><a href="#">Войти</a></li>
					</ul>
				</nav>
			</header>
			<div class="promo_name">
				<p class="promo_item">название
					<span>промо-товара</span>
				</p>
				<p class="promo_name-specification">
					Описание промо-товара
				</p>
				<button class="promo_name-list">
					Посмотреть +
				</button>
			</div>
			<nav class="promo_new">
				<li class="promo_new-products">Новые товары</li>
				<li><button class="left-slider"> < </button></li>
				<li><button class="right-slider"> > </button></li>
			</nav>
		</div>	
	</section>
	<section class="new-products">
		<div class="container">
			<div class="new-products_item">
				<img src="" alt="изображение товара">
				<div class="products-text">Название товара<span class="new-products_price">4 540руб</span></div>	
			</div>
			<div class="new-products_item">
				<img src="" alt="изображение товара">
				<div class="products-text">Название товара<span class="new-products_price">4 540руб</span></div>	
			</div>
			<div class="new-products_item">
				<img src="" alt="изображение товара">
				<p class="products-text">Название товара<span class="new-products_price">4 540руб</span></p>	
			</div>
			<div class="new-products_item">
				<img src="" alt="изображение товара">
				<p class="products-text">Название товара<span class="new-products_price">4 540руб</span></p>	
			</div>
			<div class="new-products_item">
				<img src="" alt="изображение товара">
				<p class="products-text">Название товара<span class="new-products_price">4 540руб</span></p>	
			</div>
			<div class="new-products_item">
				<img src="" alt="изображение товара">
				<p class="products-text">Название товара<span class="new-products_price">4 540руб</span></p>	
			</div>
			<div class="new-products_item">
				<img src="" alt="изображение товара">
				<p class="products-text">Название товара<span class="new-products_price">4 540руб</span></p>	
			</div>
			<div class="new-products_item">
				<img src="" alt="изображение товара">
				<p class="products-text">Название товара<span class="new-products_price">4 540руб</span></p>	
			</div>
		</div>
	</section> 
	<section class="banners">
		<div class="container">
			<div class="banners-item">
				<h1 class="banners-item--text">Заголовок Промо-Товара</h1>
			</div>
			<div class="banners-item">
				<h1 class="banners-item--text">Заголовок Промо-Товара</h1>
			</div>
			<div class="banners-item">
				<h1 class="banners-item--text">Заголовок Промо-Товара</h1>
			</div>
		</div>
	</section>
	<section class="popular-products">
		<div class="container">
			<div class="new-products_item new">
				<img src="" alt="изображение товара">
				<div class="products-text">Название товара<span class="new-products_price">4 540руб</span></div>	
			</div>
			<div class="new-products_item">
				<img src="" alt="изображение товара">
				<div class="products-text">Название товара<span class="new-products_price">4 540руб</span></div>	
			</div>
			<div class="new-products_item new bg-yellow">
				<img src="" alt="изображение товара">
				<p class="products-text">Название товара<span class="new-products_price">4 540руб</span></p>	
			</div>
			<div class="new-products_item">
				<img src="" alt="изображение товара">
				<p class="products-text">Название товара<span class="new-products_price">4 540руб</span></p>	
			</div>
		</div>
	</section>
	<section class="main-info">
		<div class="container">
			<h1 class="main-info-title">О магазине</h1>
			<p class="main-info-text to-right">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. </p>
			<p class="main-info-text to-right">Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapi. </p>
		</div>
	</section>	
	<footer class="">
		<div class="container ">
			<div class="up-footer-bg">
				<p class="text-footer-main">Шаблон для экзаменационного задания
				<span class="madein-footer"> Разработан специально для «Всероссийской Школы Программирования»</span> 
				</p>
			</div>

		</div>
	</footer>			
</body>
</html>